.notes_list{
  &__item{
    cursor: pointer;
    margin-bottom: 15px;
    &__header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &__title{
        font-size: 1.2em;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          background-color: #666;
          left: 0;
          right: 100%;
          height: 1px;
          bottom: -2px;
          transition: right 400ms ease-in;
        }

        &--active{
          &::before{
            right: 0;
          }
        }
      }

      &__options{
        padding: 0 4px;
        border: none;
        cursor: pointer;
        transition: transform 400ms ease-in-out;
        background-color: transparent;

        &:hover, &:focus{
          transform: scale(1.2);
        }
      }
    }

    &__content{
      font-size: 0.8em;
      font-weight: 200;
      color: #282828;
    }

    &:hover, &:focus{
      & .sidebar__notes_list__item__header__title::before{
        right: 0;
      }
    }
  }
}