.note_main{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d7d7d72e;

  &__title{
    display: flex;
    height: 56px;
    & > input {
      text-align: left;
      font-size: 1.33em;
      padding: 12px 0 12px 15px;
      border: none;
      border-bottom: 1px solid #d7d7d72e;

      &:hover, &:focus{
        border: none;
        border-bottom: 1px solid #d7d7d72e;
      }
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #eee;
    & > div{
      flex: 1;
      &:first-child{
        margin-right: 1px;
      }
    }
  }

  &__editor{
    display: flex;
    flex: 1;
    background-color: white;
    & > textarea {
      flex: 1;
      resize: none;
      padding: 15px;
      border: none;
    }
  }

  &__viewer{
    display: flex;
    justify-content: space-around;
    overflow: scroll;
    padding: 20px;
    background-color: white;
  }

  &__switch_mode{
    $switchModeShadowColor: rgba(0, 0, 0, 0.53);

    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    border-radius: 50%;
    padding: 14px;
    color: white;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    box-shadow: 0 1px 4px 0 $switchModeShadowColor;

    &:hover, &:focus{
      box-shadow: 0 1px 2px 0 $switchModeShadowColor;
    }

    &:active{
      box-shadow: 0 1px 2px 0 $switchModeShadowColor;
    }

    &--read{
      background-color: #307bff;
      &:hover, &:focus {
        background-color: #2962c3;
      }
      &:active {
        background-color: #17376e;
      }
    }

    &--edit{
      background-color: #ff4d66;
      &:hover, &:focus {
        background-color: #c33127;
      }
      &:active {
        background-color: #af0100;
      }
    }

  }
}